<template>
    <div class="page {{name}}-page-wrapper">
    </div>
</template>

<script>
export default {
    name: "{{name}}",
    data() {
        return {
            title: "{{title}}"
        };
    },
    methods: {
       
    }
};
</script>

<style lang="less">
    @import './index.css';
</style>
